.question-area{
	box-shadow: 2px 2px 4px 1px black;
	min-height: 200px;
	width: 700px;
	text-align: center;
	background: #11998e;
	background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
	background: linear-gradient(to right, #38ef7d, #11998e);
}

.student-area{
	padding: 0 10px;
}

.centre-text{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	font-weight: 800;
	letter-spacing: 1px;
	font-size: 30px;
}

.question{
	font-family: "Nova Flat", cursive;
	font-family: arial;
	font-size: 30px;
	margin-top: 55px; 
	text-align: left;
}

.possible-ans{
	margin-top: 0;
	font-size: 22px;
	font-family: "Nova Flat", cursive;
}

.possible-ans label{
	display: block;
	margin: 12px 0;
	padding-left: 10px;
	text-align: left;
}

.submit{
	border-radius: 10px;
	outline: none;
	border: 1px solid black;
	font-size: 22px;
	background: transparent;
	margin-top: 20px; 
	cursor: pointer;
	transition: all .3s linear;
	text-transform: uppercase;
}

.submit:hover{
	color: white;
	transform: translateY(-5px);
}
