@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');

body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: whitesmoke;
	overflow-x: hidden;
}

button{
	cursor: pointer;
}
img{
	max-width: 100%;
}
header{
	margin-bottom: 40px;
	padding: 10px;
	background-color: #4C4C68;
}

.wrapper{
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}
.logo{
	width: 50px;
}
nav a{
	display: inline-block;
	color: aliceblue;
	text-decoration: none;
	font-size: 22px;
	margin-right: 15px;
	transition: .3s linear;
}

nav a:hover{
	color: rgb(144, 156, 168);
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 100%;
}

form{
	position: relative;
	height: 90%;
}

input[type= text], textarea{
	outline: 0;
}

.overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	background-color: rgba(0,0,0,0.5);
}
.visible{
	display: none;
}
.modal{
	max-width: 500px;
	height: max-content;
	margin: auto;
	border-radius: 12px;
	box-shadow: 2px 2px 2px 0px #4C4C68;
	background-color: #656178;
	padding: 45px 20px 20px 20px;
	color: white;
	position: relative;
}
.modal label{
	display: block;
	padding: 12px 0;
}
.close{
	position: absolute;
	top: 0px;
	right: 12px;
	font-size: 40px;
	cursor: pointer;
}
.modal label input{
	border: 1px solid tan;
	border-radius: 5px;
	padding: 3px;
}

.signup-btn, .login-btn{
	margin-top: 15px;
	text-align: center;
}
.signup-btn button, .login-btn button{
	border: 0;
	font-size: 20px;
	padding: 14px 28px;
	background-color: #4C4C68;
	color: white;
	border-radius: 30px; 
	transition: .4s;
}

.signup-btn button:hover, .login-btn button:hover{
	color:#848495;
}

main{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	text-align: center;
	padding: 12px;
	height: 50vh;
}

footer{
	padding: 15px;
	background-color: #4C4C68;
}
footer.foot{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}