@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');

body{
	margin: 0;
	padding: 0;
	height: 100vh;
	background: whitesmoke;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

header{
	padding: 15px;
	background-color: #4C4C68;
}

.wrapper{
	width: 85%;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

nav a{
	display: inline-block;
	color: aliceblue;
	text-decoration: none;
	font-size: 22px;
	margin-right: 15px;
	transition: .3s linear;
}

nav a:hover{
	color: rgb(144, 156, 168);
}

.question-area{
	box-shadow: 2px 2px 4px 1px black;
	height: 400px;
	width: 700px;
	text-align: center;
	background: #11998e;
	background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
	background: linear-gradient(to right, #38ef7d, #11998e);
}

form{
	position: relative;
	height: 90%;
}

.question{
	font-family: "Nova Flat", cursive;
	font-family: arial;
	font-size: 40px;
	margin-top: 55px; 
	font-weight: 700;
}

.possible-ans{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 22px;
	font-family: "Nova Flat", cursive;
	padding: 0 0px 0 100px;
}

.possible-ans label{
	width: 48%;
	margin: 12px 10px 12px 0;
	padding-right: 10px;
	box-sizing: border-box;
	text-align: left;
}

.submit{
	border-radius: 10px;
	outline: none;
	border: 1px solid black;
	font-size: 22px;
	background: transparent;
	margin-top: 36px; 
	cursor: pointer;
	transition: all .3s linear;
	text-transform: uppercase;
}

.submit:hover{
	color: white;
	transform: translateY(-10px);
}

.num{
	position: absolute;
	bottom: 0;
	left: 50%;
}

.teacher-area{
	border-radius: 7px;
	padding: 20px;
	max-width: 800px;
	color: white;
	background-color: #656178;
	font-family: arial;
	box-shadow: 2px 2px 2px 0px #4C4C68;
}

.teacher-area h2{
	margin-top: 0;
	text-align: center;
	text-decoration: underline;
	font-weight: 400;
	font-size: 32px;
}

.question-field label{
	display: block;
}

.question-field textarea{
	margin: auto;
	width: 95.5%;
	height: 100px;
	resize: none;
	background-color: #4C4C68;
	border: 0;
	border-radius: 8px;
	padding: 10px;
	font-size: 18px;
	color: white;
}

.answer-box{
	margin-bottom: 12px;
}

.answer-box h3{
	font-weight: 300;
}

.answer-box .answer-list{
	display: flex;
	flex-direction: column;
}

input[type= text], textarea{
	outline: 0;
}

.answer-list input[type= text]{
	width: 84%;
	margin: 0px 0px 10px 10px;
	background-color: #4C4C68;
	border: 0;
	border-radius: 8px;
	padding: 10px;
	color: white;
}

.ans{
	background-color: #4C4C68;
	border: 0;
	border-radius: 8px;
	padding: 5px;
	color: white;
	font-size: 20px;
	margin-bottom: 40px;
}

.enter{
	text-align: center;
}

.enter button{
	border: 0;
	cursor: pointer;
	font-size: 20px;
	padding: 14px 28px;
	background-color: #4C4C68;
	color: white;
	border-radius: 30px; 
	transition: .4s;
}

.enter button:hover{
	color:#848495;
}